@font-face {
	font-family: 'dosis';
	src: url('fonts/Dosis-Medium.ttf')
		format('truetype');
}
@font-face {
	font-family: 'dosis';
	src: url('fonts/Dosis-Bold.ttf')
		format('truetype');
	font-weight: bold;
}
.primaryColor {	
	background-color: #0c3852;
	color: #2a2a2a;
}
.secondaryColor{
	background-color: #0c3852;
	color: white;
}
.center {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.hidden {
	visibility: hidden;
}
.warning {
	margin-top: 20px;
	margin-bottom: 20px;
	color: #f04141;
	font-size: 24px;
	font-weight: bold;
}
.bg-stretch-no-repeat {	
	background-size: auto 100%;
	background-repeat: no-repeat;
}
.hoverhand {	
	cursor: pointer;
	cursor: hand;
}
body {
	font-family: 'dosis';
	background-image: url('img/treesSmall.jpg');	
    background-attachment: fixed;
}
h2 {
	opacity: 1.0;
}
h2 span {
	color: #d5d6ca;
	background-color: rgba(0,0,0,0.7);
	padding: 8px;
}
h2.appTitle {
	text-align: left;
}
.masthead h1,
.masthead h2,
.masthead h3 {
	text-align: center;
}
.masthead h1 {
	margin: 80px 5px 30px 5px;
	font-size: 100px;
}
.masthead h2 {
	margin-bottom: 40px;
}
#infoboxDimmer {
    position:fixed;	
	visibility: hidden;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
	opacity: 0;
}
.box {
	transition: box-shadow 1.0s;
	float: left;
	margin: 30px 5px;
	width: 280px;
	height: 280px;
	background-size: cover;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;	
	border-color: #2a2a2a;
}
.box:hover, .box:active {
	transition: box-shadow 1.0s;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}
.container {
	padding: 0 350px 0 350px;
	margin: auto;
	width: 1160px;
}
#infoboxImage {
	background-color: #d5d6ca;
	margin-right: 20px;
}
#infobox {
	position: absolute;
	top: -500px;
	padding: 20px;
	width: 1322px;
}
#infoboxTop {
	display: flex;
}
#infoboxPlayImage {
	width: 380px;
	height: 380px;
}
#infoboxTitle {	
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 50px;
	width: 750px;
}
#infoboxDescription {
	font-size: 20px;
	font-family: Arial;
}
#infoboxAuthors {
	display: none;
}
#infoboxVrComfortRating {
	display: none;
}
#infoboxVrComfortRating > .comfortable,
#infoboxVrComfortRating > .moderate,
#infoboxVrComfortRating > .intense {
	display: none;
}
#infoboxVrComfortRating > * > img {
	display: inline;
	vertical-align: middle;
}
#infoboxStarting {
	text-align: center;
	display: none;
}
#infoboxStarting > .header {
	font-size: 30px;
	font-weight: bold;
}
#infoboxStarting > p {
	margin: 0;
}