@font-face {
	font-family: 'dosis';
	src: url('fonts/Dosis-Medium.ttf')
		format('truetype');
}
@font-face {
	font-family: 'dosis';
	src: url('fonts/Dosis-Bold.ttf')
		format('truetype');
	font-weight: bold;
}
body {
	font-family: 'dosis';
	background-color: #2a2a2a;
	background-image: url('img/treesSmall.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.box {
	float: left;
	margin: 5px 5px 5px 5px;
	width: 300px;
	height: 300px;
	color: white;
	background-color: #0c3852;
	background-size: 100% auto;
	cursor: pointer;
	cursor: hand;
}

h1 {
	margin: 30px 5px 20px 5px;
	font-size: 50px;
}

h2 {
	opacity: 1.0;
}
h2 span {
	background-color: #000;
	opacity: 0.4;
	padding: 5px;;
}